{% extends "::base.html.twig" %}
{% block title %}Rapid Development{% endblock %}
{% block body %}
    {% block navi %}
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('gui') }}">
                    <img width="16" height="16" alt="Symfony" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADx0RVh0QUxUVGFnAFRoaXMgaXMgdGhlIGljb24gZnJvbSBHZW50bGVmYWNlLmNvbSBmcmVlIGljb25zIHNldC4g2GvoxAAAAB90RVh0Q29weXJpZ2h0AFJPWUFMVFkgRlJFRSBMSUNFTlNFIN7Zi2kAAABFaVRYdERlc2NyaXB0aW9uAAAAAABUaGlzIGlzIHRoZSBpY29uIGZyb20gR2VudGxlZmFjZS5jb20gZnJlZSBpY29ucyBzZXQuILwR+BoAAAAjaVRYdENvcHlyaWdodAAAAAAAUk9ZQUxUWSBGUkVFIExJQ0VOU0UgJ10KSgAAAX9JREFUeNqcU02OgjAYBTcsTEyJYcHGuPAAXMEbeAQ4Aidw5gR6A5wTODdwbiBroiEoIW4MkBjjf+d9TTUdhcxkSB5tv5/3fX1tNe2fH+ecVTput1sMcCCo8l+vVwbfXMa4LwGXyyU4n89c4gfJ6XRisM0VP9erqhyPxxyDaNEwDBFzOByYruszTB0lNGzQf7/fx0Ag5wG1CVC7obK1EdaOtAsfbH3BvtvteI1WE4jlY+zK6nfhQqz7zWazEARlWVJ1t4aEuujK5AL4RLLfarVorj00yPM8QDUXTkoIaf5EVFBV0zRD1Vgp4na7ZSB4EQy2vmVZhRrbqCJot9sFRPpQBCM4EG222WzYrwRZlrmkOuADpLYm4VBn8LNagjRNKTkAPNu2x3RUdGTPnazXa/aiQZIkbxiGEMvrdDqTu321WtVq8uggjmOqOgTe1WT6sC4oWNnOl9zOSHSwWCwGGKZ0cXq9nlf3ApfL5XMn44cziqLBX54x4hgwBcTV/xZgANcjOuyBA0lyAAAAAElFTkSuQmCC">
                    Symfony 2 - Rapid Development Cockpit
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ app.request.getBaseURL() }}">Back to website</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ app.request.getBaseURL() }}/_profiler">Profiler</a></li>
                            <li><a href="{{ app.request.getBaseURL() }}/_configurator">Configurator</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Bread crumb -->
    <!--<ol class="breadcrumb">
        <li><a href="{{ path('gui') }}">Home</a></li>
        <li class="active"></li>
    </ol>-->
    {% endblock %}
    <div class="container">
        <div class="page-header">
            <h1>{% block headline %}Headline{% endblock %}</h1>
        </div>
        {% block content %}Content{% endblock %}
    </div>
{% endblock %}
