{{ '{% extends "' }}{{ bundle }}{{ '::layout.html.twig" %}' }}
{{ '{% block content %}' }}
    <div class="page-header editable">
        {{ '{{ editor_get_content("' }}{{ bundle }}{{ '-default-about-headline", "<h1>About</h1>") }}' }}
    </div>
    <div class="editable">
        {{ '{{ editor_get_content("' }}{{ bundle }}{{ '-default-about-body", "Website description") }}' }}
    </div>
{{ '{% endblock %}' }}
