{{ '{% extends "' }}{{ bundle }}{{ '::layout.html.twig" %}' }}
{{ '{% block content %}' }}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div id="default-about-body">{{ '{{ get_content("content1", "Website description") }}' }}</div>
{{ '{% endblock %}' }}

{{ '{% block javascripts %}' }}
    {{ '{%- if is_granted("ROLE_EDITOR") %}{{ init_editor("default-about-body") }}{% endif %}' }}
{{ '{% endblock %}' }}
