{{ '{% extends "' }}{{ bundle }}{{ '::layout.html.twig" %}' }}
{{ '{% block content %}' }}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div id="default-about-body">{{ '{{ editor_get_content("default-about-body", "Website description") }}' }}</div>
{{ '{% endblock %}' }}
