{{ '{% extends "' }}{{ bundle }}{{ '::base.html.twig" %}' }}
{{ '{% block content %}' }}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <p>Website description</p>
{{ '{% endblock %}' }}