{{ '{% extends "' }}{{ bundle }}{{ '::layout.html.twig" %}' }}
{{ '{% block content %}' }}
    <div class="page-header">
        <h1>Imprint</h1>
    </div>
    <p>
        <h4>{{ '{{ company.name }}' }}</h4>
        Street<br/>
        Zip City<br/>
        Phone<br/>
        Email@xxx.com<br/>
    </p>
{{ '{% endblock %}' }}