{{ '{% extends "' }}{{ bundle }}{{ '::layout.html.twig" %}' }}
{{ '{% block content %}' }}
    <div class="page-header">
        <h1>{{ action.basename|capitalize }}</h1>
    </div>
    <div>
        Please place here your page content.
    </div>
{{ '{% endblock %}' }}