{{ '{% extends "::base.html.twig" %}' }}
{{ '{% block stylesheets %}' }}
    <link href="{{ '{{ asset(\'bundles/' }}{{ bundle|lower }}{{ '/css/default.css\') }}' }}" rel="stylesheet">
{{ '{% endblock %}' }}
{{ '{% block body %}' }}
    {{ '{% include \'' }}{{ bundle }}{{ '::navi.html.twig\' %}' }}
    <div class="container">
        <div class="page-header">
            <h1>{{ '{% block headline %}' }}Page Headline{{ '{% endblock %}' }}</h1>
        </div>
        {{ '{% block content %}' }}Content{{ '{% endblock %}' }}
    </div>
    {{ '{% include \'' }}{{ bundle }}{{ '::footer.html.twig\' %}' }}
{{ '{% endblock %}' }}
