<div id="footer-block" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- Links at first column -->
                <h5>SITE</h5>
                <a href="{{ '{{ path("login") }}' }}">Login</a><br/>
                <a href="{{ '{{ path("imprint") }}' }}">Imprint</a><br/>
                <a href="{{ '{{ path("contact") }}' }}">Contact us</a><br/>
            </div>
            <div class="col-sm-4">
                <!-- Links at second column -->
                <h5>INFO</h5>
                <a href="{{ '{{ path("about") }}' }}">About this website</a><br/>
            </div>
            <div class="col-sm-4">
                <!-- Links at third column -->
                <h5>SOCIAL</h5>
                <a href="" target="_blank" alt="Facebook"><i style="color: #4d67a3" class="fa fa-facebook-square fa-3x"></i></a>
                <a href="" target="_blank" alt="Twitter"><i style="color: #25a7df" class="fa fa-twitter-square fa-3x"></i></a>
                <a href="" target="_blank" alt="Google+"><i style="color: #d74936" class="fa fa-google-plus-square fa-3x"></i></a>
                <a href="" target="_blank" alt="Xing"><i style="color: #006666" class="fa fa-xing-square fa-3x"></i></a>
                <a href="" target="_blank" alt="LinkedIn"><i style="color: #007bb6" class="fa fa-linkedin-square fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="copyright-footer">
    {{ '{{ platform.name }}' }} V{{ '{{ platform.version }}' }}<br/>
    Copyright (c) {{ '{{ "now"|date("Y") }}' }} by {{ '{{ platform.vendor }}' }}
</div>