<div id="footer-block" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- Links at first column -->
                <h5>SITE</h5>
                <a href="{{ '{{ path("imprint") }}' }}">Imprint</a><br/>
                <a href="{{ '{{ path("contact") }}' }}">Contact us</a><br/>
            </div>
            <div class="col-sm-4">
                <!-- Links at second column -->
                <h5>INFO</h5>
                <a href="{{ '{{ path("about") }}' }}">About this website</a><br/>
            </div>
            <div class="col-sm-4">
                <!-- Links at third column -->
                <h5>SOCIAL</h5>
                <img src="{{ '{{ asset(\'bundles/' }}{{ bundle_basename|lower }}{{ '/images/social-icons/facebook.png\') }}' }}" alt="Facebook"/>&nbsp;
                <img src="{{ '{{ asset(\'bundles/' }}{{ bundle_basename|lower }}{{ '/images/social-icons/twitter.png\') }}' }}" alt="Twitter"/>&nbsp;
                <img src="{{ '{{ asset(\'bundles/' }}{{ bundle_basename|lower }}{{ '/images/social-icons/googleplus.png\') }}' }}" alt="Google+"/>&nbsp;
                <img src="{{ '{{ asset(\'bundles/' }}{{ bundle_basename|lower }}{{ '/images/social-icons/xing.png\') }}' }}" alt="Xing"/>&nbsp;
            </div>
        </div>
    </div>
</div>
<div id="copyright-footer">
    {{ '{{ platform.name }}' }} {{ '{{ platform.version }}' }}<br/>
    Copyright (c) {{ '{{ "now"|date("Y") }}' }} by {{ '{{ platform.vendor }}' }}
</div>