{{ '{% extends "::base.html.twig" %}' }}
{{ '{% block stylesheets %}' }}
    <link href="{{ '{{ asset(\'bundles/' }}{{ bundle_basename|lower }}{{ '/css/default.css\') }}' }}" rel="stylesheet">
{{ '{% endblock %}' }}
{{ '{% block body %}' }}
    <!-- Navigation -->
    {{ '{% include \'' }}{{ bundle }}{{ '::navi.html.twig\' %}' }}
    <!-- Content -->
    <div id="content-block" class="container">
        {{ '{% block content %}' }}Content{{ '{% endblock %}' }}
    </div>
    <!-- Footer -->
    {{ '{% include \'' }}{{ bundle }}{{ '::footer.html.twig\' %}' }}
{{ '{% endblock %}' }}
