{{ '{% extends "::base.html.twig" %}' }}
{{ '{% block stylesheets %}' }}
    <link href="{{ '{{ asset(\'bundles/' }}{{ bundle_basename|lower }}{{ '/css/default.css\') }}' }}" rel="stylesheet">
    <!-- individual page stylesheets -->
    {{ '{% block css %}{% endblock %}' }}
{{ '{% endblock %}' }}
{{ '{% block body %}' }}
    <!-- Navigation -->
    {{ '{% include \'' }}{{ bundle }}{{ '::navi.html.twig\' %}' }}
    <!-- Content -->
    <div id="content-block" class="container">
        {{ '{% block content %}' }}Content{{ '{% endblock %}' }}
    </div>
    <!-- Footer -->
    {{ '{% include \'' }}{{ bundle }}{{ '::footer.html.twig\' %}' }}
{{ '{% endblock %}' }}

{{ '{% block javascripts %}' }}
    {{ '{%- if is_granted("ROLE_EDITOR") %}{{ editor_init() }}{% endif %}' }}
    <!-- individual page java scripts -->
    {{ '{% block js %}{% endblock %}' }}
{{ '{% endblock %}' }}