{% extends "GuiBundle::base.html.twig" %}
{% block headline %}Create Entity{% endblock %}
{% block content %}
    <form name="dataForm" id="dataForm" role="form" method="post" action="{{ path('guiExecuteCommand') }}">
        <input name="command" id="command" type="hidden" value="doctrine:generate:entity" />
        <div class="form-group col-sm-6">
            <label for="bundleName">Bundle*</label>
            <select name="bundleName" class="form-control" id="bundleName" required>
                <option></option>
                {% for item in bundles %}<option>{{ item }}</option>{% endfor %}
            </select>
            <p class="help-block">Please select target bundle.</p>
        </div>
        <div class="form-group col-sm-6">
            <label for="entityName">Name*</label>
            <input name="entityName" type="text" class="form-control" id="entityName" placeholder="Entity name" maxlength="40" required />
            <p class="help-block">Enter here your entity name (e.g. faq).</p>
        </div>
        <div class="form-group col-sm-6">
            <label for="fieldName[0]">Fieldname 1</label>
            <input name="fieldName[0]" type="text" class="form-control" id="fieldName[0]" placeholder="Field name" maxlength="40" />
            <p class="help-block">Enter here a field name (e.g. name).</p>
        </div>
        <div class="form-group col-sm-6">
            <label for="fieldType[0]">Fieldtype 1</label>
            <select name="fieldType[0]" class="form-control" id="fieldType[0]" placeholder="Field type">
                <option></option>
                {% for item in types %}<option>{{ item }}</option>{% endfor %}
            </select>
            <p class="help-block">Select here a field type (e.g. string(100)).</p>
        </div>
        {% for z in 1..40 %}
        <div id="form-group-name{{ z }}" class="form-group col-sm-6" style="display: none">
            <label for="fieldName[{{ z }}]">Fieldname {{ z+1 }}</label>
            <input name="fieldName[{{ z }}]" type="text" class="form-control" id="fieldName[{{ z }}]" placeholder="Field name" maxlength="40" />
            <p class="help-block">Enter here a field name (e.g. name).</p>
        </div>
        <div id="form-group-type{{ z }}" class="form-group col-sm-6" style="display: none">
            <label for="fieldType[{{ z }}]">Fieldtype {{ z+1 }}</label>
            <select name="fieldType[{{ z }}]" class="form-control" id="fieldType[{{ z }}]" placeholder="Field type">
                <option></option>
                {% for item in types %}<option>{{ item }}</option>{% endfor %}
            </select>
            <p class="help-block">Select here a field type (e.g. string(100)).</p>
        </div>
        {% endfor %}
        <div class="form-group col-sm-12">
            <button type="button" onclick="showNextFieldset();" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-plus-sign"></span> Add field
            </button>
        </div>
        <div class="form-group col-sm-12">
            <div class="checkbox">
                <label>
                    <input name="createCrud" id="createCrud" type="checkbox" checked="checked" /> Create CRUD file structure.
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="createTable" id="createTable" type="checkbox" checked="checked" /> Execute database update.
                </label>
            </div>
            <p>* Required fields.</p>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    </form>
    <div class="modal fade" id="responseDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="responseDialogHeader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="responseDialogHeaderText" class="modal-title">Command Execution</h4>
                </div>
                <div id="responseDialogBody" class="modal-body">
                    <p>body content</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->{% endblock %}
{% block javascripts %}
    <script>
        // send ajax request to execute commandline
        $(document).ready(function()
        {
            // bind to the form's submit event
            $('#dataForm').submit(function() { $(this).ajaxSubmit({success:showResponse, dataType:'json'}); return false; });
        });

        function showNextFieldset()
        {
            for (z=1; z<100; z++)
            {
                if ($('#form-group-name'+z).is(':hidden'))
                {
                    $('#form-group-name'+z).toggle();
                    $('#form-group-type'+z).toggle();
                    $('#form-group-name'+z+' input').focus();
                    return;
                }
            }
        }

        var global_response;
        function showResponse(response, statusText, xhr, $form)
        {
            // send request to create CRUD
            if ($('#createCrud').attr('checked','checked') && $('#command').val()=='doctrine:generate:entity')
            {
                $('#command').val('doctrine:generate:crud');
                $('#dataForm').ajaxSubmit({success:showResponse, dataType:'json'});
                global_response = response;
            }
            else
            {
                $('#command').val('doctrine:generate:entity');

                //alert(responseText.output);
                var text = response.input + '<br/><br/>' + response.output;

                if (response.errorcode == 0)
                {
                    $('#responseDialogHeader').css('background-color', 'green');
                    $('#responseDialogHeaderText').html('Successful');

                }
                else
                {
                    $('#responseDialogHeader').css('background-color', 'red');
                    $('#responseDialogHeaderText').html('Execution Error');
                }

                $('#responseDialogBody').html(text);
                $('#responseDialog').modal('show');
            }
        }
    </script>
{% endblock %}