{% extends "GuiBundle::base.html.twig" %}
{% block headline %}Welcome to GUI! <small>a magic tool that can write code for you</small>{% endblock %}
{% block content %}
    <h4>Please select any option:</h4>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-file"></span> Page Generator</h4>
                </div>
                <div class="panel-body">
                    <p style="height: 80px">This generator helps you to quickly generate a new controller class, one or several controller actions and their corresponding views.</p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-primary" onclick="location.href='{{ path('guiCreateController') }}';">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-wrench"></span> Entity Generator</h4>
                </div>
                <div class="panel-body">
                    <p style="height: 80px">This generator creates a new data entity class with controller, CRUD actions and their corresponding views.</p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-primary" onclick="location.href='{{ path('guiCreateCrud') }}';">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-cloud-download"></span> Bundle Installer</h4>
                </div>
                <div class="panel-body">
                    <p style="height: 80px">This generator helps you to install helpful symfony bundles from a predefined selection.</p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-primary" onclick="location.href='{{ path('guiInstallBundle') }}';">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-briefcase"></span> Bundle Generator</h4>
                </div>
                <div class="panel-body">
                    <p style="height: 80px">This generator helps you to generate the skeleton code needed by a Symfony 2 bundle.</p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-primary" onclick="location.href='{{ path('guiCreateBundle') }}';">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Form Generator [beta]</h4>
                </div>
                <div class="panel-body">
                    <p style="height: 80px">This generator helps you to quickly generate a new form view.</p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-primary" onclick="location.href='{{ path('guiCreateForm') }}';">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-tint"></span> Theme Generator [beta]</h4>
                </div>
                <div class="panel-body">
                    <p style="height: 80px">This generator helps you to create a custom theme.<br/></p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-primary" onclick="location.href='{{ path('guiCreateStyle') }}';">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-transfer"></span> Web-Service Generator</h4>
                </div>
                <div class="panel-body">
                    <p style="height: 80px">This generator creates a new web service interface.<br/><br/>- coming soon -</p>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-primary disabled">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
