{% extends "GuiBundle::base.html.twig" %}
{% block headline %}<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Bundle Repository <small>selection of helpful bundles</small>{% endblock %}
{% block content %}
    <h4>Please select any option:</h4>
    {% for bundle in bundles %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>{{ bundle.title }}</h4></div>
                <div class="panel-body">
                    <div style="padding-right: 20px; float: left;">
                        <img alt="" src="{{ bundle.icon | raw }}" />
                    </div>
                    <div>
                        <p style="min-height: 80px">{{ bundle.description }}</p>
                        <p><a target="_blank" href="{{ bundle.url | raw }}">{{ bundle.url }}</a></p>
                    </div>
                    <hr/>
                    <p class="text-right">
                        <button class="btn btn-primary" onclick="
                                var routingEntry = JSON.parse('{{ bundle.routingEntry }}');
                                var routes = null;
                                if (routingEntry)
                                {
                                    routes = {
                                        name: routingEntry.name,
                                        resource: routingEntry.resource,
                                        type: routingEntry.type,
                                        prefix: routingEntry.prefix
                                    };
                                }

                                $('#pleaseWaitDialog').modal();
                                $.ajax({
                                    type:'POST',
                                    url:'{{ path('guiInstallBundleAjax') }}',
                                    data: {
                                        bundlePath: '{{ bundle.bundlePath }}',
                                        bundleVersion: '{{ bundle.bundleVersion }}',
                                        kernelEntry: '{{ bundle.kernelEntry }}',
                                        bundleName: '{{ bundle.title }}',
                                        routingEntry: routes
                                    }
                                }).done(function(data) {
                                    $('#pleaseWaitDialog').modal('hide');
                                    window.location.reload(true);
                                }).error(function(error) {
                                    $('#pleaseWaitDialog').modal('hide');
                                    window.location.reload(true);
                                });
                                " {% if bundle.installed is defined and bundle.installed == 1 %}disabled{% endif %}>
                            <span class="glyphicon glyphicon-cloud-download"></span> Install
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Waiting dialog -->
    <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Processing...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress progress-striped active">
                        <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Please Wait</span>
                        </div>
                    </div>
                    <div id="sr-message-only">Retrieving bundle ...</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
