{% if vars.label|default %}
    <label for="{{ vars.id }}">{{ vars.label }}</label>
{% endif %}
    <div class="control">
        <button id="{{ vars.id }}" name="{{ vars.id }}" class="btn btn-{{ vars.button_type }}">{{ vars.button_text }}</button>
    </div>
