{% if vars.label|default %}
    <label for="{{ vars.id }}">{{ vars.label }}</label>
{% endif %}
    <input id="{{ vars.id }}" name="{{ vars.id }}" type="password"{% if vars.placeholder|default %} placeholder="{{ vars.placeholder }}"{% endif %} class="form-control">
{% if vars.help_text|default %}
    <p class="help-block">{{ vars.help_text }}</p>
{% endif %}