{{ '{% extends "' }}{{ bundle }}{{ '::layout.html.twig" %}' }}
{{ '{% block content %}' }}
    <div class="page-header">
        <h1>Welcome to <strong>{{ bundle }}</strong></h1>
    </div>

    <!-- Replace start: Please replace the following block with your own content -->
    {{ '{% if app.environment() == \'dev\' %}{% include \'GuiBundle:Default:firstSteps.html.twig\' %}{% endif %}' }}
    <!-- Replace end -->

{{ '{% endblock %}' }}
