{{ '{% extends "' }}{{ bundle }}{{ '::base.html.twig" %}' }}
{{ '{% block headline %}' }}
    Welcome to the {{ controller }}:{{ action.basename }} page
{{ '{% endblock %}' }}
{{ '{% block content %}' }}
    <p>Please place here your page content.</p>
{{ '{% endblock %}' }}
