{{ '{% extends "' }}{{ bundle }}{{ '::base.html.twig" %}' }}
{{ '{% block content %}' }}
    <div class="page-header">
        <h1>Welcome to the {{ controller }}:{{ action.basename }} page</h1>
    </div>
    <p>Please place here your page content.</p>
{{ '{% endblock %}' }}