{{ '{% extends "' }}{{ bundle }}{{ '::base.html.twig" %}' }}
{{ '{% block headline %}' }}Welcome <small>to the home page</small>{{ '{% endblock %}' }}
{{ '{% block content %}' }}
    <p>Please place here your page content.</p>
{{ '{% endblock %}' }}
